//footer
footer{
	background-color: $brand-color;
	margin-top: 20px;
	padding: 30px 0;
	

	p{
		text-align: center;
		padding: 5px 0 5px 0;
		font-size: 11px;
		color: lighten($brand-color, 30%);
	}
}