/* 	Author: Barbara Bugalska
		Assignment: WI.2.HTML Assignment, digital Skills Academy
		Student ID: D14126227
		Date: 2015/04/19
		Ref: http://getbootstrap.com/components/#nav
*/



/*
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}*/


// navbar
.navbar-default{
background-color: $brand-color;}


.navbar-default .navbar-nav >li>a {
	color: lighten($brand-color, 30%);
	font-family: myFirstFont;
	&:hover{
		color: darken($brand-color, 35%);
		transition:0.5s;
	}
}
.navbar-default .navbar-nav li:hover{
	background-color: lighten($brand-color, 30%);
	transition:0.5s;
	/*border-bottom: 20px solid #ffff66;*/
}

.navbar-default .navbar-nav>.active>a{
	background-color: $brand-yellow;
}
.navbar-default .navbar-brand{
	color: lighten($brand-color, 30%);
	font-family: myFirstFont;

	&:hover{
		color: darken($brand-color, 35%);
		transition:0.5s;
		background-color: lighten($brand-color, 30%);
}
}
.navbar-default .navbar-brand.active{
	background-color: $brand-yellow;
	color: darken($brand-color, 35%);
}

.navbar-toggle{
	background-color: lighten($brand-color, 30%);
}



.dropdown-menu>li>a{
	color: darken($brand-color, 35%);
	&:hover {
		background-color: $brand-yellow;
	}
}
.dropdown-menu > .active > a {
	background-color: $brand-color;
	&:hover{
		background-color: $brand-yellow;
		color:darken($brand-color, 35%);

	}
}